# log level 0-7
LOG_LEVEL=1

# it will change DN for requests.
# if you don't want to change path, just use the same as AD_BASEDN
META_SUFFIX=ou=Users,dc=example,dc=com

# AD connector
AD_SERVER_URI=ldaps://ad.server.com
AD_BASEDN=ou=Users,dc=example,dc=com

# test example
#ldapsearch -vv -x -D "cn=Chel,ou=Users,dc=example,dc=com" -w "UserPaSS" -s sub -b "ou=Users,dc=example,dc=com" "(&(mail=*))" mail

